.my-signup-container {
    max-width: 1200px;
    margin: auto;
}

.my-signup-image img {
    width: 100%;
    height: auto;
    display: block;
}

.my-signup-card {
    background-color: #f8f9fa;
    padding: 40px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 30px;
    text-align: center;
}

.my-signup-card h2 {
    margin-bottom: 20px;
    color: #333;
}

.my-signup-card .form-label {
    text-align: left;
    font-weight: bold;
}

.my-signup-card .form-control {
    border-radius: 4px;
    border: 1px solid #ced4da;
    padding: 10px;
}

.my-signup-card .btn-block {
    background-color: #007bff;
    border-color: #007bff;
    width: 100%;
    padding: 10px 15px;
    margin-top: 20px;
    border-radius: 4px;
    color: white;
}

.my-signup-login-link {
    margin-top: 20px;
}

.my-signup-login-link a {
    color: #007bff;
    text-decoration: none;
}

.my-signup-login-link a:hover {
    text-decoration: underline;
}

@media (max-width: 768px) {
    .my-signup-container .row {
        flex-direction: column-reverse; /* Stack the form and image vertically */
    }

    .my-signup-image, .my-signup-card {
        margin-top: 20px;
        padding: 20px;
    }

    .my-signup-image {
        order: -1; /* Image will be placed on top */
    }
}
