.my-login-container {
    max-width: 1200px;
    margin: auto;
}

.my-login-image img {
    width: 100%;
    height: auto;
    display: block;
    padding: 10%;
}

.my-login-card {
    background-color: #f7f7f7; 
    color: #000000;
    padding: 10%;
    border-radius: 5px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    margin-top: 30px; 
    text-align: center;
}

/* Rest of the styles for form elements */

@media (max-width: 768px) {
    .my-login-container .row {
        flex-direction: column-reverse; /* Stack the form and image vertically */
    }

    .my-login-image, .my-login-card {
        margin-top: 20px;
        padding: 20px;
    }

    .my-login-image {
        order: -1; /* Image will be placed on top */
    }
}
