<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<html xmlns:th="http://www.thymeleaf.org">
</head>
<body>

<div th:fragment="Footer">
<footer class="footer-ubereats">
    <div class="container">
        <div class="row">
            <div class="col-md-3 footer-col">
                <h5>Explore</h5>
                <ul class="list-unstyled">
                    <li><a href="#menu">Menu</a></li>
                    <li><a href="#aboutus">About Us</a></li>
                    <li><a href="#partners">Partners</a></li>
                </ul>
            </div>
            <div class="col-md-3 footer-col">
                <h5>Legal</h5>
                <ul class="list-unstyled">
                    <li><a th:href="@{legal}">Terms & Conditions</a></li>
                    <li><a th:href="@{privacy}">Privacy Policy</a></li>
                </ul>
            </div>
            <div class="col-md-3 footer-col">
                <h5>Follow Us</h5>
                <ul class="list-unstyled">
                    <li><a href="https://www.instagram.com/" target="_blank">Instagram</a></li>
                    <li><a href="https://www.facebook.com/" target="_blank">Facebook</a></li>
                    <li><a href="https://twitter.com/?lang=en" target="_blank">X</a></li>
                </ul>
            </div>
            <div class="col-md-3 footer-col">
                <h5>Contact</h5>
                <address>
                    1000 Hilltop Cir,<br>
                    Baltimore, MD 21250, USA<br>
                    <a href="tel:+14104551000">+1 (410) 455-1000</a>
                </address>
            </div>
        </div>
        <div class="footer-bottom">
            <p>&copy; 2023 UniHubDine. All rights reserved.</p>
        </div>
    </div>
</footer>
</div>
</body>
</html>