<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>UniHubDine</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"  rel="stylesheet"          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
          crossorigin="anonymous">
          
    <script src="https://maps.googleapis.com/maps/api/js?key=YOUR_API_KEY"></script>
    <link rel="stylesheet" th:href="@{/css/homestyles.css}">
    <script type="text/javascript" th:src="@{/js/homejs.js}"></script>
</head>
<body>
<header>
<nav class="navbar navbar-expand-lg navbar-light fixed-top">
    <div class="container">
        <a class="navbar-brand" th:href="@{/home}">
            <img src="/UniDineHub/images/homepage/logo.svg" alt="UniHubDine Logo" id="navbar-logo">     
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" 
                data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" 
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item"><a class="nav-link active" href="#menu">Menu</a></li>
                <li class="nav-item"><a class="nav-link active" href="#partners">Partners</a></li>
                <li class="nav-item"><a class="nav-link active" href="#aboutus">About Us</a></li>
                <li class="nav-item"><a class="nav-link active" href="#location">Locations</a></li>
                <li class="nav-item"><a class="nav-link active" href="#contactus">Contact Us</a></li>
                <li class="nav-item"><a class="nav-link active" th:href="login">Login</a></li>
            </ul>
        </div>
    </div>
</nav>
</header>
<section>
<div class="homepage-container">
  <div class="homepage-column-content">
    <div class="homepage-header">
      <h1><Strong style="color:#DD1840;">WELCOME TO UNIDINEHUB. </strong><br><strong>Your premier destination for exploring the best dining options on campus.</strong></h1>
    </div>
    <div class="homepage-body">
  <p>Find the best food at the best prices on campus! Dive into a world of on-campus dining options, compare prices, and make smart, budget-friendly choices without compromising on taste.</p>
    </div>
    <div class="homepage-stats">
      <div class="stat">
        <strong>5+</strong>
        <span>Restaurants </span>
      </div>
      <div class="stat">
        <strong>10+</strong>
        <span>Menus</span>
      </div>
      <div class="stat">
        <strong>100+</strong>
        <span>Food Items</span>
      </div>
    </div>
  </div>
  <div class="homepage-column-image">
        <img src="/UniDineHub/images/homepage/home.png" alt="Creative Design Image">
  </div>
</div>
</section>
<section class="container my-5 menu-section" id="menu">
    <!-- Menu Heading with Images -->
    <div class="menu-heading">
        <img src="/UniDineHub/images/homepage/menu.png" alt="Left Decorative Image" class="decorative-image-left">
        <h2 class="menu-title"><Strong>MENU</Strong></h2>
        <img src="/UniDineHub/images/homepage/menu.png" alt="Right Decorative Image" class="decorative-image-right">
    </div>
<br>
    <!-- Menu Items -->
    <div class="row">
        <div th:each="menu : ${menus}" class="col-md-3 mb-4">
            <div class="card">
                <a th:href="@{/login}">
                    <img th:src="@{'/images/menu/'+ ${menu.image}}" class="card-img-top" alt="Menu Item" th:alt="${menu.name}">
                </a>
                <div class="card-body">
                    <h5 class="card-title" th:text="${menu.name}">Menu Name</h5>
                    <p class="card-text" th:text="${menu.description}">Menu Description</p>
                </div>
            </div>
        </div>
    </div>
</section>

	
<section class="partner-section" id ="partners">
    <div class="container mt-5">
     <div class="menu-heading">
        <img src="/UniDineHub/images/homepage/partner.png" alt="Left Decorative Image" class="decorative-image-left">
        <h2 class="menu-title"><Strong>PARTNERS</Strong></h2>
        <img src="/UniDineHub/images/homepage/partner.png" alt="Right Decorative Image" class="decorative-image-right">
    </div>
        <div class="row">
            <div class="col-md-4">
                <div class="partner-card">
                    <img src="/UniDineHub/images/homepage/starbucks.webp" class="partner-img" alt="Starbucks">
                    <div class="card-body">
                        <h5 class="partner-title">Starbucks</h5>
                        <p class="partner-text">Brewing Inspiration in Every Cup.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="partner-card">
                    <img src="/UniDineHub/images/homepage/dunkin.png" class="partner-img" alt="Starbucks">
                    <div class="card-body">
                        <h5 class="partner-title">Dunkin</h5>
                        <p class="partner-text">Running on Dunkin: Where Speed Meets Flavor.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="partner-card">
                    <img src="/UniDineHub/images/homepage/chickfilla.png" class="partner-img" alt="Starbucks">
                    <div class="card-body">
                        <h5 class="partner-title">Chick-Fill-A</h5>
                        <p class="partner-text">Exceptional Chicken, Exceptional Service.</p>
                    </div>
                </div>
            </div>
                         <div class="col-md-4">
                <div class="partner-card">
                    <img src="/UniDineHub/images/homepage/Kfc.png" class="partner-img" alt="KFC">
                    <div class="card-body">
                        <h5 class="partner-title">KFC</h5>
                        <p class="partner-text">Finger-Licking Good: A Taste of Tradition.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="partner-card">
                    <img src="/UniDineHub/images/homepage/einstein.png" class="partner-img" alt="Starbucks">
                    <div class="card-body">
                        <h5 class="partner-title">Einstein</h5>
                        <p class="partner-text">Innovative Flavors, Timeless Delights.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="partner-card">
                    <img src="/UniDineHub/images/homepage/mcd.png" class="partner-img" alt="Starbucks">
                    <div class="card-body">
                        <h5 class="partner-title">McDonalds</h5>
                        <p class="partner-text">I am Loving It: Fast Food, Fast Fun.</p>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</section>
<section id="aboutus" class="about-us-section">
    <div class="container">
        <h2 class="section-title text-center">About Us</h2>
        <div class="vision-mission">
            <h3>Our Vision</h3>
        <p class="intro-text">Welcome to UniDineHub, where you find the best food at the best prices! Dive into a world of on-campus dining options, compare prices, and make smart, budget-friendly choices without compromising on taste.</p>
            <h3>Our Mission</h3>
            <p>To revolutionize university dining by offering a transparent, comparative, and user-friendly platform that places the power of choice and savings right at your fingertips.</p>
        </div>
        
        <h3>Upcoming Features</h3>
            <p>Classroom Delivery: We understand how packed a student's schedule can be. That's why we're soon launching our classroom delivery feature. Order your favorite dish and have it delivered discreetly to your class without any interruptions. Dining made convenient like never before!</p>
    </div>
</section>


	<section id="location">
	<div class="container mt-5">

        <!-- Google Map -->
        <img src="/UniDineHub/images/homepage/map.png" class="partner-img" alt="Starbucks" id="map" style="width: 100%; height: 400px; margin-bottom: 20px;">
       <div class="row" align="center">
            <div class="col-md-4">
                <h4>Address</h4>
                <p>1000 Hilltop Cir, Baltimore, MD 21250, USA</p>
            </div>
            <div class="col-md-4">
                <h4>Phone Number</h4>
                <p>+1 (410) 455-1000</p>
            </div>
            <div class="col-md-4 d-flex align-items-center">
                <a href="https://www.google.com/maps/dir//1000+Hilltop+Cir,+Baltimore,+MD+21250,+USA" target="_blank" class="btn btn-primary">Get Directions</a>
            </div>
        </div>
    </div>
    

    <script>
        function initMap() {
            var umbcLocation = {lat: 39.2555, lng: -76.7113};
            var map = new google.maps.Map(document.getElementById('map'), {
                zoom: 15,
                center: umbcLocation
            });
            var marker = new google.maps.Marker({
                position: umbcLocation,
                map: map
            });
        }
        initMap();
    </script>
	</section>

<section id="contactus">
    <div class="container mt-5">
        <h2>Contact Us</h2>
        <div class="row">
            <!-- Left Column for Image -->
            <div class="col-md-6">
                <img src="/UniDineHub/images/homepage/contactus.png" alt="Contact Us" class="img-fluid">
            </div>

            <!-- Right Column for Form -->
            <div class="col-md-6" id="form-container">
                <form th:action="@{/home}" th:object="${contactForm}" method="post">
                    <div class="mb-3">
                        <label for="name" class="form-label">Name</label>
                        <input type="text" th:field="*{name}" class="form-control" id="name" required>
                    </div>

                    <div class="mb-3">
                        <label for="email" class="form-label">Email address</label>
                        <input type="email" th:field="*{email}" class="form-control" id="email" required>
                    </div>

                    <div class="mb-3">
                        <label for="subject" class="form-label">Subject</label>
                        <input type="text" th:field="*{subject}" class="form-control" id="subject">
                    </div>

                    <div class="mb-3">
                        <label for="message" class="form-label">Message</label>
                        <textarea th:field="*{message}" class="form-control" id="message" rows="4" required></textarea>
                    </div>

                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
        </div>
    </div>
</section>

<section id="apk-download">
    <div class="container py-5">
        <div class="row align-items-center">
            <div class="col-lg-6">
                <h2 class="text-uppercase title">The next-generation dining app</h2>
                <p class="mb-4 description">Explore and compare dining options on campus with ease. Get exclusive access to deals, book your favorite tables, and enjoy the best dining experience with UniHubDine.</p>
				<a href="/path/to/your/ios-app" class="btn btn-primary mb-2 download-ios">&nbsp&nbsp&nbsp&nbsp&nbspiOS Coming Soon</a>
<a href="https://github.com/yogeshl1/Mobile-Application" download class="btn btn-primary mb-2 download-android" target="_blank">&nbsp&nbsp&nbsp&nbsp&nbsp&nbspDownload for Android</a>
            </div>
            <div class="col-lg-6">
                <img src="/UniDineHub/images/homepage/mobileapp.png" class="img-fluid" alt="UniHubDine App">
            </div>
        </div>
    </div>
</section>

        
<div th:replace="~{Footer :: Footer}"></div>
</body>

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"  integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF"
            crossorigin="anonymous"></script>      
</body>
</html>
