<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>UniHubDine</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
          crossorigin="anonymous">
    <script src="https://maps.googleapis.com/maps/api/js?key=YOUR_API_KEY"></script>
    <link rel="stylesheet" th:href="@{/css/styleshome.css}">
    <script type="text/javascript" th:src="@{/js/homejs.js}"></script>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
        <div class="container">
            <a class="navbar-brand" th:href="@{/home}">UniHubDine</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false"
                    aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                    <li class="nav-item"><a class="nav-link active" href="#menu">Menu</a></li>
                    <li class="nav-item"><a class="nav-link active" href="#partners">Partners</a></li>
                    <li class="nav-item"><a class="nav-link active" href="#aboutus">About Us</a></li>
                    <li class="nav-item"><a class="nav-link active" href="#location">Locations</a></li>
                    <li class="nav-item"><a class="nav-link active" href="#contactus">Contact Us</a></li>
                    <li class="nav-item"><a class="nav-link active" th:href="login">Login</a></li>
                </ul>
            </div>
        </div>
    </nav>
	<div id="carouselExampleCaptions" class="carousel slide"
		data-bs-ride="carousel">
		<div class="carousel-indicators">
			<button type="button" data-bs-target="#carouselExampleCaptions"
				data-bs-slide-to="0" class="active" aria-current="true"
				aria-label="Slide 1"></button>
			<button type="button" data-bs-target="#carouselExampleCaptions"
				data-bs-slide-to="1" aria-label="Slide 2"></button>
			<button type="button" data-bs-target="#carouselExampleCaptions"
				data-bs-slide-to="2" aria-label="Slide 3"></button>
		</div>
		<div class="carousel-inner">
			<div class="carousel-item active">
				<img src="/images/homepage/hbackground1.png" class="d-block w-100"
					alt="...">
				<div class="carousel-caption">
					<h5>One Restaurant for Universities </h5>
					<p>Place where you can all restaurants menus in one place.</p>
				</div>
			</div>
			<div class="carousel-item">
				<img src="/images/homepage/hbackground2.png" class="d-block w-100"
					alt="...">
				<div class="carousel-caption">
					<h5>Second slide label</h5>
					<p>Some representative placeholder content for the second
						slide.</p>
				</div>
			</div>
			<div class="carousel-item">
				<img src="/images/homepage/hbackground3.png" class="d-block w-100"
					alt="...">
				<div class="carousel-caption">
					<h5>Third slide label</h5>
					<p>Some representative placeholder content for the third slide.</p>
				</div>
			</div>
		</div>
		<button class="carousel-control-prev" type="button"
			data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
			<span class="carousel-control-prev-icon" aria-hidden="true"></span> <span
				class="visually-hidden">Previous</span>
		</button>
		<button class="carousel-control-next" type="button"
			data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
			<span class="carousel-control-next-icon" aria-hidden="true"></span> <span
				class="visually-hidden">Next</span>
		</button>
	</div>
	<!-- About us -->
	<section id="menu">
		<!-- Menu Filter Section -->
		<div class="container mt-5">
			<div class="container mt-5">
				<button class="btn btn-primary menu-btn" data-menu="drinks">Drinks</button>
				<button class="btn btn-primary menu-btn" data-menu="coffee">Coffee</button>
				<button class="btn btn-primary menu-btn" data-menu="desserts">Desserts</button>
				<!-- Drinks Section -->
				<div class="row menu-section" id="drinks">
					<h2 class="menu-title">Drinks</h2>
					<!-- Row 1 for Drinks -->
					<div class="row mb-4">
						<!-- Drink 1 -->
						<div class="col-md-3 col-sm-6 col-xs-12">
						    <div class="card">
						        <!-- If you have labels like 'Most Liked', you can add this div -->
						        <img src="/images/homepage/CocaCola.png" class="card-img-top" alt="Coca-Cola">
						        <div class="card-body">
						            <h5 class="card-title">Coca-Cola</h5>
						            <p class="card-text">Dunkin</p>
						            <p class="price">$Price 1.00</p>
						        </div>
						    </div>
						</div>
						<div class="col-md-3 col-sm-6 col-xs-12">
						    <div class="card">
						        <!-- If you have labels like 'Most Liked', you can add this div -->
						        <img src="/images/homepage/CocaCola.png" class="card-img-top" alt="Coca-Cola">
						        <div class="card-body">
						            <h5 class="card-title">Coca-Cola</h5>
						            <p class="card-text">KFC</p>
						            <p class="price">$Price 1.25</p>
						        </div>
						    </div>
						</div>
						<div class="col-md-3 col-sm-6 col-xs-12">
						    <div class="card">
						        <!-- If you have labels like 'Most Liked', you can add this div -->
									<img src="/images/menu/menuItems/canadadry.png" class="card-img-top partner-logo" alt="Drink 1 Name">
						        <div class="card-body">
						            <h5 class="card-title">Canada Dry</h5>
						            <p class="card-text">KFC</p>
						            <p class="price">$Price 1.29</p>
						        </div>
						    </div>
						</div>
						<div class="col-md-3 col-sm-6 col-xs-12">
						    <div class="card">
						        <!-- If you have labels like 'Most Liked', you can add this div -->
									<img src="/images/menu/menuItems/sprite.png" class="card-img-top partner-logo" alt="Drink 1 Name">
						        <div class="card-body">
						            <h5 class="card-title">Sprite</h5>
						            <p class="card-text">McDonalds</p>
						            <p class="price">$Price 1.30</p>
						        </div>
						    </div>
						</div>
						
						<div class="col-md-3 col-sm-6 col-xs-12">
						    <div class="card">
						        <!-- If you have labels like 'Most Liked', you can add this div -->
									<img src="/images/menu/menuItems/mountaindew.png" class="card-img-top partner-logo" alt="Drink 1 Name">
						        <div class="card-body">
						            <h5 class="card-title">Mountain Dew</h5>
						            <p class="card-text">Chick-FIll-A</p>
						            <p class="price">$Price 1.49</p>
						        </div>
						    </div>
						</div><div class="col-md-3 col-sm-6 col-xs-12">
						    <div class="card">
						        <!-- If you have labels like 'Most Liked', you can add this div -->
									<img src="/images/menu/menuItems/sunkist.webp" class="card-img-top partner-logo" alt="Drink 1 Name">
						        <div class="card-body">
						            <h5 class="card-title">Sunkist</h5>
						            <p class="card-text">KFC</p>
						            <p class="price">$Price 1.50</p>
						        </div>
						    </div>
						</div><div class="col-md-3 col-sm-6 col-xs-12">
						    <div class="card">
						        <!-- If you have labels like 'Most Liked', you can add this div -->
									<img src="/images/menu/menuItems/pepsi.png" class="card-img-top partner-logo" alt="Drink 1 Name">
						        <div class="card-body">
						            <h5 class="card-title">Pepsi</h5>
						            <p class="card-text">McDonalds</p>
						            <p class="price">$Price 1.75</p>
						        </div>
						    </div>
						</div><div class="col-md-3 col-sm-6 col-xs-12">
						    <div class="card">
						        <!-- If you have labels like 'Most Liked', you can add this div -->
									<img src="/images/menu/menuItems/canadadry.png" class="card-img-top partner-logo" alt="Drink 1 Name">
						        <div class="card-body">
						            <h5 class="card-title">Canada Dry</h5>
						            <p class="card-text">KFC</p>
						            <p class="price">$Price 2.00</p>
						        </div>
						    </div>
						</div>

					</div>
				</div>
				
				<div class="row menu-section" id="desserts">
					<h2 class="menu-title">Desserts</h2>
					<!-- Row 1 for Drinks -->
					<div class="row mb-4">
						<!-- Drink 1 -->
						<div class="col-md-3 col-sm-6 col-xs-12">
						    <div class="card">
						        <!-- If you have labels like 'Most Liked', you can add this div -->
						        <img src="/images/homepage/coffee1.webp" class="card-img-top" alt="Coca-Cola">
						        <div class="card-body">
						            <h5 class="card-title">Black Coffee</h5>
						            <p class="card-text">Dunkins</p>
						            <p class="price">$Price 2.00</p>
						        </div>
						    </div>
						</div>
						<div class="col-md-3 col-sm-6 col-xs-12">
						    <div class="card">
						        <!-- If you have labels like 'Most Liked', you can add this div -->
									<img src="/images/homepage/espresso.png" class="card-img-top partner-logo" alt="Drink 1 Name">
						        <div class="card-body">
						            <h5 class="card-title">Espresso</h5>
						            <p class="card-text">Einstein</p>
						            <p class="price">$Price 2.50</p>
						        </div>
						    </div>
						</div>
						<div class="col-md-3 col-sm-6 col-xs-12">
						    <div class="card">
						        <!-- If you have labels like 'Most Liked', you can add this div -->
									<img src="/images/homepage/Cappuccino.png" class="card-img-top partner-logo" alt="Drink 1 Name">
						        <div class="card-body">
						            <h5 class="card-title">Cappuccino</h5>
						            <p class="card-text">StarBucks</p>
						            <p class="price">$Price 3.00</p>
						        </div>
						    </div>
						</div>
						<div class="col-md-3 col-sm-6 col-xs-12">
						    <div class="card">
						        <!-- If you have labels like 'Most Liked', you can add this div -->
						        <img src="/images/homepage/Mocha.webp" class="card-img-top" alt="Coca-Cola">
						        <div class="card-body">
						            <h5 class="card-title">Mocha</h5>
						            <p class="card-text">StarBucks</p>
						            <p class="price">$Price 3.25</p>
						        </div>
						    </div>
						</div>

					</div>
				</div>
				
								<div class="row menu-section" id="coffee">
					<h2 class="menu-title">Coffee</h2>
					<!-- Row 1 for Drinks -->
					<div class="row mb-4">
						<!-- Drink 1 -->
						<div class="col-md-3 col-sm-6 col-xs-12">
						    <div class="card">
						        <!-- If you have labels like 'Most Liked', you can add this div -->
						        <img src="/images/homepage/coffee1.webp" class="card-img-top" alt="Coca-Cola">
						        <div class="card-body">
						            <h5 class="card-title">Black Coffee</h5>
						            <p class="card-text">Dunkins</p>
						            <p class="price">$Price 2.00</p>
						        </div>
						    </div>
						</div>
						<div class="col-md-3 col-sm-6 col-xs-12">
						    <div class="card">
						        <!-- If you have labels like 'Most Liked', you can add this div -->
									<img src="/images/homepage/espresso.png" class="card-img-top partner-logo" alt="Drink 1 Name">
						        <div class="card-body">
						            <h5 class="card-title">Espresso</h5>
						            <p class="card-text">Einstein</p>
						            <p class="price">$Price 2.50</p>
						        </div>
						    </div>
						</div>
						<div class="col-md-3 col-sm-6 col-xs-12">
						    <div class="card">
						        <!-- If you have labels like 'Most Liked', you can add this div -->
									<img src="/images/homepage/Cappuccino.png" class="card-img-top partner-logo" alt="Drink 1 Name">
						        <div class="card-body">
						            <h5 class="card-title">Cappuccino</h5>
						            <p class="card-text">StarBucks</p>
						            <p class="price">$Price 3.00</p>
						        </div>
						    </div>
						</div>
						<div class="col-md-3 col-sm-6 col-xs-12">
						    <div class="card">
						        <!-- If you have labels like 'Most Liked', you can add this div -->
						        <img src="/images/homepage/Mocha.webp" class="card-img-top" alt="Coca-Cola">
						        <div class="card-body">
						            <h5 class="card-title">Mocha</h5>
						            <p class="card-text">StarBucks</p>
						            <p class="price">$Price 3.25</p>
						        </div>
						    </div>
						</div>

					</div>
				</div>
				
			</div>
		</div>

	</section>
	
<section class="partner-section" id ="partners">
    <div class="container mt-5">
        <h2 class="menu-title">Partners</h2>
        <div class="row">
            <div class="col-md-4">
                <div class="partner-card">
                    <img src="/images/homepage/starbucks.webp" class="partner-img" alt="Starbucks">
                    <div class="card-body">
                        <h5 class="partner-title">Starbucks</h5>
                        <p class="partner-text">One liner about Partner 1.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="partner-card">
                    <img src="/images/homepage/dunkin.png" class="partner-img" alt="Starbucks">
                    <div class="card-body">
                        <h5 class="partner-title">Dunkin</h5>
                        <p class="partner-text">One liner about Partner 1.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="partner-card">
                    <img src="/images/homepage/chickfilla.png" class="partner-img" alt="Starbucks">
                    <div class="card-body">
                        <h5 class="partner-title">Chick-Fill-A</h5>
                        <p class="partner-text">One liner about Partner 1.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="partner-card">
                    <img src="/images/homepage/einstein.png" class="partner-img" alt="Starbucks">
                    <div class="card-body">
                        <h5 class="partner-title">Einstein</h5>
                        <p class="partner-text">One liner about Partner 1.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="partner-card">
                    <img src="/images/homepage/kfc.png" class="partner-img" alt="Starbucks">
                    <div class="card-body">
                        <h5 class="partner-title">KFC</h5>
                        <p class="partner-text">One liner about Partner 1.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="partner-card">
                    <img src="/images/homepage/mcd.png" class="partner-img" alt="Starbucks">
                    <div class="card-body">
                        <h5 class="partner-title">McDonalds</h5>
                        <p class="partner-text">One liner about Partner 1.</p>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</section>
<section id="aboutus" class="about-us-section">
    <div class="container">
        <h2 class="section-title text-center">About Us</h2>
        <div class="vision-mission">
            <h3>Our Vision</h3>
        <p class="intro-text">Welcome to UniDineHub, where you find the best food at the best prices! Dive into a world of on-campus dining options, compare prices, and make smart, budget-friendly choices without compromising on taste.</p>
            <h3>Our Mission</h3>
            <p>To revolutionize university dining by offering a transparent, comparative, and user-friendly platform that places the power of choice and savings right at your fingertips.</p>
        </div>
        
        <h3>Upcoming Features</h3>
            <p>Classroom Delivery: We understand how packed a student's schedule can be. That's why we're soon launching our classroom delivery feature. Order your favorite dish and have it delivered discreetly to your class without any interruptions. Dining made convenient like never before!</p>
    </div>
</section>


	<section id="location">
	<div class="container mt-5">

        <!-- Google Map -->
        <div id="map" style="width: 100%; height: 400px; margin-bottom: 20px;"></div>

       <div class="row" align="center">
            <div class="col-md-4">
                <h4>Address</h4>
                <p>1000 Hilltop Cir, Baltimore, MD 21250, USA</p>
            </div>
            <div class="col-md-4">
                <h4>Phone Number</h4>
                <p>+1 (410) 455-1000</p>
            </div>
            <div class="col-md-4 d-flex align-items-center">
                <a href="https://www.google.com/maps/dir//1000+Hilltop+Cir,+Baltimore,+MD+21250,+USA" target="_blank" class="btn btn-primary">Get Directions</a>
            </div>
        </div>
    </div>
    

    <script>
        function initMap() {
            var umbcLocation = {lat: 39.2555, lng: -76.7113};
            var map = new google.maps.Map(document.getElementById('map'), {
                zoom: 15,
                center: umbcLocation
            });
            var marker = new google.maps.Marker({
                position: umbcLocation,
                map: map
            });
        }
        initMap();
    </script>
	</section>
	<section id="contactus">
    <div class="container mt-5" id="form-container">
        <h2>Contact Us</h2>
        <form th:action="@{/home}" th:object="${contactForm}" method="post">
            <div class="mb-3">
                <label for="name" class="form-label">Name</label>
                <input type="text" th:field="*{name}" class="form-control" id="name" required>
            </div>

            <div class="mb-3">
                <label for="email" class="form-label">Email address</label>
                <input type="email" th:field="*{email}" class="form-control" id="email" required>
            </div>

            <div class="mb-3">
                <label for="subject" class="form-label">Subject</label>
                <input type="text" th:field="*{subject}" class="form-control" id="subject">
            </div>

            <div class="mb-3">
                <label for="message" class="form-label">Message</label>
                <textarea th:field="*{message}" class="form-control" id="message" rows="4" required></textarea>
            </div>

            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
</body>

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"  integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF"
            crossorigin="anonymous"></script>
      <style>
  html {
    scroll-behavior: smooth;
  }
</style>
      
</body>
</html>
